<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Quote Book{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Shared CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/footer.css') }}">

    <!-- Page-specific CSS -->
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

    {% include "footer.html" %}
</body>
</html>
